.help__item {
    padding: 0;
    list-style-position: inside;
    color: white;
    font-size: 32px;
    padding: 0 0 0 54px;
}

.help__item::marker {
    color: #E9B730;
}

.help__item_blue {
    background-color: #62D0DF;
}

.help__item_rose {
    background-color: #FFE2DE;
}