.header__link {
  font-size: 14px;
  line-height: 1.1;
  color: #22356f;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 8px;
}


.header__link:hover {
  border-bottom: 2px solid #22356f;
  font-weight: 500;
}