.card__text {
    position: absolute;
    top: 0;
    left: 14.6%;
    right: 14.6%;
    bottom: 0;
    line-height: 1.5;
    margin-top: 20%;
    color: white;
    font-size: 32px;
    font-weight: bold;
}